{% extends 'registration/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2 class="card-title text-center">Login</h2>
<form class="form-signin" method="POST">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">
  <div class="form-label-group">
    <input id="{{ form.username.id_for_label }}" maxlength="100" name="{{ form.username.html_name }}"
      value="{{ form.username.value|default_if_none:"" }}" type="text" class="form-control" required>
    <label for="{{ form.username.id_for_label }}">Usuário</label>
  </div>
  <div class="form-label-group">
    <input id="{{ form.password.id_for_label }}" maxlength="100" name="{{ form.password.html_name }}"
      value="{{ form.password.value|default_if_none:"" }}" type="password" class="form-control">
    <label for="{{ form.password.id_for_label }}">Senha</label>
  </div>

  <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit">Entrar</button>
</form>
<a href="{% url 'cadastro' %}" class="btn btn-lg btn-success btn-block text-uppercase">Cadastre-se</a>
{% endblock %}