{% extends "registration/base.html" %}

{% block title %}Altera a senha{% endblock %}

{% block content %}

<h2 class="card-title text-center">Alterar Senha</h2>
<form class="form-signin" method="POST">
	{% csrf_token %}
	<input type="hidden" name="next" value="{{ next }}">
	<div class="form-label-group">
		<input id="{{ form.old_password.id_for_label }}" maxlength="100" name="{{ form.old_password.html_name }}"
			value="{{ form.old_password.value|default_if_none:"" }}" type="password" class="form-control" required
			data-toggle="popover" data-placement="right" title="" data-content="{{form.old_password.help_text}}">
		<label for="{{ form.old_password.id_for_label }}">Senha Antiga</label>
	</div>
	<div class="form-label-group">
		<input id="{{ form.new_password1.id_for_label }}" maxlength="100" name="{{ form.new_password1.html_name }}"
			value="{{ form.new_password1.value|default_if_none:"" }}" type="password" class="form-control" required
			data-toggle="popover" data-placement="right" data-content="{{form.new_password1.help_text}}"
			data-html="true">
		<label for="{{ form.new_password1.id_for_label }}">Senha Nova</label>

	</div>
	<div class="form-label-group">
		<input id="{{ form.new_password2.id_for_label }}" maxlength="100" name="{{ form.new_password2.html_name }}"
			value="{{ form.new_password2.value|default_if_none:"" }}" type="password" class="form-control" required
			data-toggle="popover" data-placement="right" data-content="{{form.new_password2.help_text}}">
		<label for="{{ form.new_password2.id_for_label }}">Confirmação de senha</label>
	</div>
	{% if form.errors %}
	{% for field in form %}
	{% for error in field.errors %}
	<div class="alert alert-danger">
		<strong>{{ error|escape }}</strong>
	</div>
	{% endfor %}
	{% endfor %}
	{% endif %}
	<button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit">Trocar</button>
</form>

<!-- <h2>Sign up</h2>
<form method="post">
	{% csrf_token %}
	<h2>Sign up</h2>
	<p><label for="id_username">Usuário:</label> <input type="text" name="username" maxlength="150" autofocus required
			id="id_username"> <span class="helptext">Obrigatório. 150 caracteres ou menos. Letras, números e @/./+/-/_
			apenas.</span></p>
	<p><label for="id_password1">Senha:</label> <input type="password" name="password1" required id="id_password1">
		<span class="helptext">
			<ul>
				<li>Sua senha não pode ser tão parecida com suas outras informações pessoais.</li>
				<li>Sua senha precisa conter pelo menos 8 caracteres.</li>
				<li>Sua senha não pode ser uma senha habitualmente utilizada.</li>
				<li>Sua senha não pode ser inteiramente numérica.</li>
			</ul>
		</span>
	</p>
	<p><label for="id_password2">Confirmação de senha:</label> <input type="password" name="password2" required
			id="id_password2"> <span class="helptext">Informe a mesma senha informada anteriormente, para
			verificação.</span></p>
	<button type="submit">Sign Up</button>
</form>
</form> -->
{% endblock %}