{% extends 'bolao/base.html' %}
{% load static %}

{% block content %}

{% for j in jogos.values %}
{% if j.mostrar %}
<h4 style="background-color: #fff; margin-bottom: 20px;">{{j.rodada}}</h4>
{% endif %}
{% for partida in j.partidas %}
<div class="news-post-widget">
  <div class="news-post-detail">
    <table class="table table-hover center">
      <tbody>
        <form action="/apostar" method="POST">
          {% csrf_token %}

          {% if not partida.usuario_apostou %}
          {% if user.profile.pode_apostar %}
          <input type="hidden" value="{{ partida.timeCasa.nome }}" name="time-casa" id="time-casa" />
          <input type="hidden" value="{{ partida.timeCasa.id }}" name="casa-id" id="casa-id" />
          <input type="hidden" name="partidaID" id="partidaID" value="{{ partida.id }}" />
          <input type="hidden" value="{{ partida.timeVisitante.nome }}" name="time-visitante" id="time-visitante" />
          <input type="hidden" value="{{ partida.timeVisitante.id }}" name="visitante-id" id="visitante-id" />
          {% endif %}
          {% endif %}
          <tr>
            <td style="vertical-align: middle; text-align: center;">
              <div class="flag">
                <div class="{{ partida.timeCasa.get_flag }}"></div>
              </div>
            </td>
            <td style="vertical-align: middle; text-align: center;">{{ partida.timeCasa.nome }}</td>
            <td style="vertical-align: middle; text-align: center;">VS</td>
            <td style="vertical-align: middle; text-align: center;">{{partida.timeVisitante.nome }}</td>
            <td style="vertical-align: middle; text-align: center;">
              <div style="vertical-align: middle; text-align: center;" class="flag">
                <div class="flag {{ partida.timeVisitante.get_flag }}"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="5" style="vertical-align: middle; text-align: center;">
              Prêmio: R$ {{partida.get_premiacao}}
            </td>
          </tr>
          <tr class="lista-partida">

            {% if not partida.usuario_apostou %}
            {% if user.profile.pode_apostar %}
            <td colspan="5" style="vertical-align: middle; text-align: center;">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-success btn-novo butones">
                  <input type="radio" name="aposta" id="timeCasa" value="{{ partida.timeCasa.id }}"
                    title="{{ partida.timeCasa.nome }}"> {{ partida.timeCasa.nome }}
                </label>

                <label class="btn btn-success btn-novo">
                  <input type="radio" name="aposta" id="empate" value="0">Empate
                </label>

                <label class="btn btn-success btn-novo">
                  <input type="radio" name="aposta" id="timeVisitante" value="{{ partida.timeVisitante.id }}"
                    title="{{partida.timeVisitante.nome }}"> {{partida.timeVisitante.nome }}
                </label>
              </div>
            </td>
            {% else %}
            <td colspan="5" style="vertical-align: middle; text-align: center;">Saldo insuficiente para novas apostas.
            </td>
            {% endif %}
            {% else %}
            <td colspan="5" style="vertical-align: middle; text-align: center;">
              <label class="btn btn-primary btn-novo">
                {{partida.usuario_apostou_em}}
              </label>
            </td>
            {% endif %}


  </div>
  </tr>

  <tr class="envio-partida hidden">
    <td colspan="5" style="vertical-align: middle; text-align: center;">
      <button type="submit" class="btn btn-success" value="Enviar Aposta">Enviar Palpite</button>
    </td>
  </tr>
  </form>
  </tbody>
  </table>
</div>
</div>
{% endfor %}
{% endfor %}

{% endblock content %}