{% load static %}
<div class="feature-matchs">
  <table class="table table-bordered table-hover">
    <thead>
      <tr aria-colspan="2">
        <h4>Top 5 Jogadores</h4>
      </tr>
      <tr>
        <th>Nome</th>
        <th>Apostas</th>
        <th>Vit.</th>
      </tr>
    </thead>
    <tbody>
      {% for user in userswid %}
      <tr>
        <td>{{user.username}}</td>
        <td>{{user.profile.qtde_apostas}}</td>
        <td>{{user.profile.qtde_vitorias}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>