{% extends 'bolao/base.html' %}
{% load static %}

{% block title %}Bolão da Galera - Regras{% endblock %}

{% block content %}

<!-- <h2>Histórico dos jogos </h2> -->





<div class="news-post-widget">
	<div class="news-post-detail">
		<div>
			<h2>Regras do bolão</h2>
			<ul>
				<h1>Do cadastro:</h1>
				<li>Após cadastro, usuário deve efetuar transferência por PIX para a organização;</li>
				<li>O comprovante deve ser enviado por email ou Whatsapp, assim como uma chave Pix para a devolução ao
					final do jogo;</li>
				<li>Valor mínimo de participação: R$35,00;</li>
				<li>Todo valor transferido será convertido em crédito no jogo;</li>
				<li>Cada aposta custa R$5,00;</li>
				<li>Estarão disponíveis todos os jogos da copa;</li>
				<li>Caso solicitado, participante pode fazer novo aporte de valor para fazer mais apostas;</li>

				<h1>Da aposta:</h1>
				<li>Ao apostar, é selecionado o time vencedor ou empate;</li>
				<li>O valor do prêmio será o valor do montante das apostas;</li>
				<li>No caso de mais de um vencedor, o montante será dividido igualmente entre os vencedores;</li>
				<li>No caso de ninguém acertar o resultado, o dinheiro será devolvido à conta.</li>

				<h1>Do Prêmio:</h1>
				<li>Durante o bolão, o prêmio será dado em crédito no próprio jogo;</li>
				<li>A qualquer momento a pessoa pode solicitar a saída do jogo, tendo assim seu saldo* devolvido;</li>
				<li>Ao final do campeonato, todos receberão o saldo* da conta (caso ainda tenha algum) por PIX;</li>

				<span style="color: rgb(221, 37, 37);">* No momento da devolução, será retirado 5% do valor para cobrir
					custos.</span>
			</ul>


		</div>
	</div>
</div>


{% endblock content %}